div.todos-list {
    margin: 20px 10px;
}

ul {
    list-style-type: none;
}

ul li {
    background-color: #fff;
    padding: 12px 7px;
    margin: 4px 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    font-size: 1.2em;
}

ul li input[type="checkbox"]:checked+span {
    text-decoration: line-through;
    opacity: 0.3;
}

ul li a {
    float: right;
    margin-right: 5px;
    padding-bottom: 2px;
    background-color: rgba(204, 16, 16, 0.856);
    padding: 5px 2px;
    color: #fff;
    text-decoration: none;
    border-radius: 3px;
    cursor: pointer;
}

ul li a:hover {
    box-shadow: 2px 4px 5px rgba(65, 64, 64, 0.233), 2px 4px 5px rgba(65, 64, 64, 0.233);
}

ul li span {
    margin-left: 5px;
}